on early-fs
    mkdir /system
    mkdir /data
    mkdir /cache
    wait /dev/block/mmcblk0p18
    wait /dev/block/mmcblk0p19
    wait /dev/block/mmcblk0p21
    wait /proc/mounts
    mount ext4 /dev/block/mmcblk0p18 /system ro wait noatime nodiratime nodiscard,errors=panic,noload
    mount f2fs /dev/block/mmcblk0p18 /system ro wait noatime nodiratime background_gc=off
    mount ext4 /dev/block/mmcblk0p21 /data wait noatime nodiratime nosuid nodev discard journal_async_commit,errors=panic
    mount f2fs /dev/block/mmcblk0p21 /data wait noatime nodiratime nosuid nodev discard background_gc=on
    mount ext4 /dev/block/mmcblk0p19 /cache wait noatime nodiratime nosuid nodev discard journal_async_commit,errors=panic
    mount f2fs /dev/block/mmcblk0p19 /cache wait noatime nodiratime nosuid nodev discard background_gc=on

on boot
    mount rootfs rootfs / rw remount
    chmod 0755 /res/bin/busybox
    chmod 0755 /res/bin/curl
    chmod 0755 /res/bin/sqlite3
    chmod 0755 /res/bin/sr
    chmod 0755 /res/bin/stats
    chmod 0755 /sbin/uci
    chmod 0755 /sbin/boot-init.sh
    mount rootfs rootfs / ro remount

	write /sys/fs/selinux/enforce 0

